{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
<h1>Курсы</h1>

<div class="container">
    <div class="row ">
        {% for course in courses %}
        {% include 'course/modal.html.twig' with { course : course, info : anotherCourses} %}
        <div class="col-6 mb-2 course-card p-1">
            <div class="fs-4">
                <a class="app_course_show" href="{{ path('app_course_show', {'id': course.id}) }}">
                    {{ course.name }}
                </a>
            </div>
            <div>{{ course.description }}</div>
            {% if userCourses[course.code] is defined %}
            <div class="text-end text-primary">
                {% else %}
                <div class="text-end">
                    {% endif %}
                    <form>
                        {% if userCourses[course.code] is defined %}
                            {% if userCourses[course.code].type is same as 'rent' %}
                                <span class="course_current_status">Арендован до {{ userCourses[course.code].expire|date("d.m.Y") }}</span>
                            {% else %}
                                <span class="course_current_status">Приобретен</span>
                            {% endif %}
                        {% else %}
                            {% if anotherCourses[course.code].type is same as 'free' %}
                                <span class="course_current_status  ">Бесплатный курс</span>
                            {% elseif anotherCourses[course.code].type is same as 'rent' %}
                                <span class="course_current_status">Курс в аренду</span>
                            {% else %}
                                <span class="course_current_status">Платный курс</span>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_USER') and anotherCourses[course.code] is defined and anotherCourses[course.code].price!=0 %}
                        {% if anotherCourses[course.code].type is same as 'rent' %}
                        <button type="button" title="Арендовать"
                        {% else %}
                        <button type="button" title="Купить"
                                {% endif %}
                                id="modalButton{{ course.id }}"
                                class="btn btn-outline-dark"
                                {% if balance < anotherCourses[course.code].price %}
                                    disabled
                                {% endif %}
                                data-bs-toggle="modal"
                                data-bs-target="#buy-modal-{{ course.code }}">
                            {{ anotherCourses[course.code].price }}
                            {% if anotherCourses[course.code].type is defined %}
                                {% if anotherCourses[course.code].type is same as 'rent' %}
                                    рублей в неделю
                                {% else %}
                                    рублей
                                {% endif %}
                            {% endif %}
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% else %}
                <div>
                    <div>Курсов не найдено</div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="d-flex justify-content-center mb-2">
            <a class="btn btn-outline-primary app_course_new" href="{{ path('app_course_new') }}">
                Добавить новый курс
            </a>
        </div>
    {% endif %}

    <style>
        .course-card {
            padding: 1px;

        }

        .course-card:hover {
            border: 2px solid cornflowerblue;
        }
    </style>
    {% endblock %}
</div>